<!doctype html>
<head>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<title>Auctionbase V2.0</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=metanav>
	<div>
<a href="http://quadcore:5000/main"><img src="http://www.supercamper.co.uk/skin/frontend/default/default/images/logo.gif" width="587" height="134" /></a>	</div>
	<table>
{% if vehicles %}
  <div class=total>
  	<tt>Total Found: {{total}}</tt>
  </div>
  
	
	
	
  
  <h1>Lotnumber : <a href={{vehicles.remoteurl}} target="_blank">{{vehicles.lotNumber}} <title="Click here for remote auction view and more information."></a><h1>
  <h4>Auction House: {{vehicles.auctionHouse}}<h4>
  <h4>Type: {{vehicles.searchVehicle.make}} {{vehicles.searchVehicle.model}}<h4>	
  <h4>Year: {{vehicles.year}}<h4>
  <h4>Chassis Code: {{vehicles.chassis}}<h4>
  <h4>Date Found: {{vehicles.searchDay.date}}<h4>
  <h4>Search Session: {{vehicles.searchSession_id}} </h4>
  
  <a href={{vehicles.imgurl1}}> 	
  <img src= {{ vehicles.imgurl1}}  title="Click here for LARGE photo!">
  </a>
  <br>
  <a href={{vehicles.imgurl2}}>
  <img src= {{ vehicles.imgurl2}} title="Click here for LARGE photo!">
  </a>
  
  	
  
  	
  	
  	</div>
  	
  </table>	
{% else %}
  <h1>Sorry, no vehicles found.</h1>
{% endif %}