body            { font-family: sans-serif; background: #ccc; }
a, h1, h2, h4   { color: #377BA8; }
.altrow			{ color: #888BA9; }
h1, h2, h4      { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; border-top: 5px solid #bbb }
h2              { font-size: 1.2em; }
h4				{ border-bottom: 1px solid #ddd}



tt				{ font-family: 'Georgia', serif; margin: 0; border-bottom: 1px solid #000}
.total			{ text-align: left; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; margin-left: 5em; background: #fafafa;}

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: blue; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: left; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; margin-left: 5em;  background: #fafafa;} 
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
.row1			{ color: #377BA8; font-family: 'Georgia', serif; margin: 0;, border-bottom: 1px solid #eee }
.row2			{ color: #888BA9; font-family: 'Georgia', serif; margin: 0;, border-bottom: 1px solid #ffffff }
.highlight {
      background-color:yellow;
}
table {
	border-collapse: collapse;
}
table td {
    border-collapse: collapse;
    padding: 0px;
}

table tr {
    border-collapse: collapse;
    padding: 0px;
}
