
<!doctype html>
<head>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<title>Auctionbase V2.0</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=metanav>
	<div>
		<img src="http://www.supercamper.co.uk/skin/frontend/default/default/images/logo.gif" width="587" height="134" />
	</div>
	<form action="" method=post>
	<table>
		
{% if vehicles %}
  <div class=total>
  	<tt>Total Found: {{total}}</tt>
  </div>
  
	
	{% for vehicle in vehicles|batch(3, '&nbsp;') %}
	
  <tr>
      {% for column in vehicle %}
        <td>      <h1>Lotnumber : <a href={{vehicle.remoteurl}} target="_blank">{{vehicle.lotNumber}} <title="Click here for remote auction view and more information."></a></h1>
 </td>
        {% endfor %}
  </tr>

 

  	{% endfor %}
  	
  	
  	</div>
  	
  </table>	
  
  <select name="userselect">
	{% for user in userlist: %}
	<option value="{{ user.id }}">{{user.username}}</option>
  
  	
  	{% endfor %}
  	
  	</select>
   
  With selected - Generate Email List:
  <input type=submit value=Create Email>
  </form>
  
  

  
{% else %}
  <h1>Sorry, no vehicles found.</h1>
{% endif %}